4D-DRESS/*
4D-DRESS
4D-DRESS-subset/*
mask.*
capture*
output
point_cloud
VMarker-Pro
NICP
pycpd
ext
360*
eval_output
smpl/smpl
smpl/smpl300
smpl/smplx
smpl/smpl_vert_segmentation.json
evaluation/models/HaveFun/out
evaluation/models/HaveFun/pretrained_dfmodel
evaluation/models/HaveFun/data
*__pycache__*
